.main-footer {
    margin-top: 10%;
    color: white;
    background-color: black;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
p.col-sm{
    display:flex;
    justify-content: center;
    align-items: flex-end
}

.col h4 {
    display:flex;
    justify-content: center;
}

.footer-image1 {
    margin-top: 30px;
    margin-left: 450px;
}

.footer-image2 {
    margin-top: 30px;
    margin-left: 130px;
}

.footer-image3 {
    margin-top: 30px;
    margin-left: -100px;
}

.col img.footer-image1,img.footer-image2,img.footer-image3{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}
