.content-grid{
    /* margin-top: 50px; */
    display:grid;
    grid-template-columns: 1fr 2fr ;
    /* column-gap:1px;
    row-gap: 1px; */
   width: 800px;
   justify-content: center;
   align-items: center;
   /* border: 1px solid black; */

}

img{
    width: 100%;
}

.contener{
    width: 1200px;
    margin: 0 auto;
    /* text-align: center; */
}

/* h1{
    margin-left: 20%;
} */
