.animed-topic{
 
  background: rgb(145, 145, 145);
width: 100%;
 
}

.header {
  margin-left: 1%;
  padding: 60px;
  text-align: center;
  background: #787978;
  color: white;
  font-size: 30px;
 margin-bottom: 5%;

}
.anime-detail-content{
  width: 1400px;
  margin: 0 auto;
}
/* .animed{
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10%;
 
} */
.animed-topic-title{
  font-size: 70px;
  font-weight: bolder;
}
   .anime-row{
    
  width: 100%;
   }
   .animed-text{
     height: 300px;
     overflow: hidden;
     text-overflow: ellipsis;
     margin-top: 10%;
     font: 20 sans-serif;
     padding: 10px;
   }
  

  .animed-text p{
    font-size: 22px;
   
      word-wrap: break-word;
      text-align: justify;
  
  
  }
  .animed-content .animed-title p{
    font: 2em sans-serif;
   font-weight: bolder;
   text-align: center;
  }
  

  
  .anime-row {
   
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  
  }
  
  .anime-row > * {
    flex-basis: 20rem;
    flex-shrink: 0;
  }
 
  
 
  .anime-row .animed {
    align-content: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    margin: 10px ;
    background-color: rgb(211, 211, 211);
  
  }

  
  
  .anime-row .animed > .animed-content {
  
    flex-grow: 1;
  }
  .animed-content{
    margin-bottom: 20%;
  }

 
  
 
 
  a{
    color: rgb(255, 255, 255);
  }
  
  .animed:hover .overlay {
    opacity: 1;
  }
  
  /* .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  } */
  .animed-button{
    height: 100px;

    
    grid-gap:2%;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 30% 68%; */
    /* align-items: center;
    justify-content: center; */
    
  }

  .animed-button .button{
    height: 100%;
    width: 100%;
  }
  button.button-click{
    display: inline-block;
    background-color: #0c91eb;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
   
  }
  .icon{
    width: 100%;
    border-radius: 20px;
  }
  .icon img{
    width: 70%;
    align-items: center;
    border-radius: 50px;
  }


  button.btt{
    background: rgb(73, 73, 73);
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .button-click span,.button-like {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  /* .button-click span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  } */
  button:hover{
    background-color: rgb(0, 121, 241);
  }
  .button-click:hover span {
    font-size: 20px;
  }
  span.nextpage{
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  span.nextpage:hover{
    font-size: 15px;
 
  }
  
  .button-click:hover span:after {
    opacity: 1;
    right: 0;
  }
  .icon img:hover{
    transition: 0.5s;
   padding: 30%;
  

  }
  .animed-image{
    width: auto;
    height: 500px;
  }
  
  .animed-image img{
    width: 100%;
    height: 100%;
   border-radius: 20px;
  }
 
  
  
  .animed-title{
 
    width: 100%;
    height: 130px;
    /* border: 1px solid #000000; */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
 
  }

  .animed-title p{
    font-size: 14px;
  }
  .animed-title p.animed-title-jp{
    font-size: 14px;
  }
  .animed-title p.animed-title-us{
    font-size: 24px;
  }
    
  /* .animed-image ul li p{

  } */